
CREATE TABLE response_teams (
	id VARCHAR(20) NOT NULL, 
	name VARCHAR(100) NOT NULL, 
	team_type VARCHAR(50), 
	members INTEGER, 
	latitude FLOAT, 
	longitude FLOAT, 
	location VARCHAR(150), 
	vehicle VARCHAR(100), 
	availability_status VARCHAR(30) NOT NULL, 
	created_at TIMESTAMP WITHOUT TIME ZONE, 
	PRIMARY KEY (id)
)


;

CREATE TABLE tourist_incidents (
	id VARCHAR(30) NOT NULL, 
	incident_type VARCHAR(100) NOT NULL, 
	description TEXT, 
	latitude FLOAT, 
	longitude FLOAT, 
	severity VARCHAR(20) NOT NULL, 
	status VARCHAR(30) NOT NULL, 
	created_at TIMESTAMP WITHOUT TIME ZONE, 
	resolved_at TIMESTAMP WITHOUT TIME ZONE, 
	PRIMARY KEY (id)
)


;

CREATE TABLE villages (
	id VARCHAR(20) NOT NULL, 
	name VARCHAR(100) NOT NULL, 
	district VARCHAR(100) NOT NULL, 
	state VARCHAR(100) NOT NULL, 
	latitude FLOAT NOT NULL, 
	longitude FLOAT NOT NULL, 
	population INTEGER, 
	livestock_count INTEGER, 
	forest_distance FLOAT, 
	created_at TIMESTAMP WITHOUT TIME ZONE, 
	updated_at TIMESTAMP WITHOUT TIME ZONE, 
	PRIMARY KEY (id)
)


;

CREATE TABLE alerts (
	id VARCHAR(30) NOT NULL, 
	village_id VARCHAR(20) NOT NULL, 
	species VARCHAR(30) NOT NULL, 
	risk_score INTEGER NOT NULL, 
	risk_level VARCHAR(20) NOT NULL, 
	confidence INTEGER, 
	message TEXT, 
	language VARCHAR(10) NOT NULL, 
	status VARCHAR(20) NOT NULL, 
	created_at TIMESTAMP WITHOUT TIME ZONE, 
	acknowledged_at TIMESTAMP WITHOUT TIME ZONE, 
	resolved_at TIMESTAMP WITHOUT TIME ZONE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(village_id) REFERENCES villages (id)
)


;

CREATE TABLE incidents (
	id VARCHAR(30) NOT NULL, 
	village_id VARCHAR(20) NOT NULL, 
	species VARCHAR(30) NOT NULL, 
	severity VARCHAR(20) NOT NULL, 
	description TEXT, 
	incident_type VARCHAR(100), 
	detected_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
	verified_at TIMESTAMP WITHOUT TIME ZONE, 
	assigned_team_id VARCHAR(20), 
	status VARCHAR(30) NOT NULL, 
	resolution_notes TEXT, 
	closed_at TIMESTAMP WITHOUT TIME ZONE, 
	created_at TIMESTAMP WITHOUT TIME ZONE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(village_id) REFERENCES villages (id), 
	FOREIGN KEY(assigned_team_id) REFERENCES response_teams (id)
)


;

CREATE TABLE livestock_losses (
	id VARCHAR(30) NOT NULL, 
	claim_id VARCHAR(30), 
	village_id VARCHAR(20), 
	livestock_type VARCHAR(50) NOT NULL, 
	quantity INTEGER NOT NULL, 
	species VARCHAR(30), 
	incident_date DATE NOT NULL, 
	latitude FLOAT, 
	longitude FLOAT, 
	description TEXT, 
	evidence_url VARCHAR(500), 
	status VARCHAR(30) NOT NULL, 
	submitted_at TIMESTAMP WITHOUT TIME ZONE, 
	updated_at TIMESTAMP WITHOUT TIME ZONE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(village_id) REFERENCES villages (id)
)


;

CREATE TABLE risk_predictions (
	id VARCHAR(30) NOT NULL, 
	village_id VARCHAR(20) NOT NULL, 
	species VARCHAR(30), 
	risk_score INTEGER NOT NULL, 
	risk_level VARCHAR(20) NOT NULL, 
	confidence INTEGER, 
	prediction_window VARCHAR(50), 
	reason TEXT, 
	top_factors_json TEXT, 
	model_version VARCHAR(30) NOT NULL, 
	created_at TIMESTAMP WITHOUT TIME ZONE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(village_id) REFERENCES villages (id)
)


;

CREATE TABLE wildlife_sightings (
	id VARCHAR(30) NOT NULL, 
	species VARCHAR(30) NOT NULL, 
	sighting_date DATE NOT NULL, 
	sighting_time VARCHAR(10), 
	village_id VARCHAR(20), 
	latitude FLOAT, 
	longitude FLOAT, 
	source VARCHAR(20) NOT NULL, 
	description TEXT, 
	verification_status VARCHAR(20) NOT NULL, 
	confidence INTEGER, 
	image_url VARCHAR(500), 
	created_at TIMESTAMP WITHOUT TIME ZONE, 
	PRIMARY KEY (id), 
	FOREIGN KEY(village_id) REFERENCES villages (id)
)


;
